<h1 class="text-center">Media parcial</h1>

<form>
    <div>
        <label for="bim1" class="form-label">Bim 1</label>
        <input type="number" class="form-control" [value]="boletim.obterBim1()" #b1>
    </div>
    <div>
        <label for="bim2" class="form-label">Bim 2</label>
        <input type="number" class="form-control" [value]="boletim.obterBim2()" #b2>
    </div>
    <div>
        <label for="bim3" class="form-label">Bim 3</label>
        <input type="number" class="form-control" [value]="boletim.obterBim3()" #b3>
    </div>
    <div>
        <label for="bim4" class="form-label">Bim 4</label>
        <input type="number" class="form-control" [value]="boletim.obterBim4()" #b4>
    </div>
    <div>
        <input type="button" value="calcular"
class = "btn btn-primary"(click)="calcularMediaParcial(+b1.value, +b2.value, +b3.value, +b4.value)">
    </div>
</form>
<div [ngClass]="obterClasseSituacao()">
    <p>{{resultado}}</p>
</div>

<div *ngIf="mediaParcial < 60 && resultado != ''">
    <form>
        <div>
            <label for="naf">Avaliação final</label>
            <input id="naf" type="number" #naf>
        </div>
        <div>
            <input type="button" value="Calcular Media Final" (click)="calcularMediaFinal (+naf.value)">
        </div>
    </form>
</div>