<form action="">
    <div>
        <label for="">Nome:</label>
        <input type="text" name="" id="">
    </div>
    <div>
        <label>Telefone:</label>
        <input type="number">
    </div>
    <div>
        <label for="">Email:</label>
        <input type="text">
    </div>
    <div>
        <label>Aniversario:</label>
        <input type="text">
    </div>
    <div>
        <label for="">Tipo</label>
        <input type="text" name="" id="">
    </div>
    <div>
        <input type="button" value="Adicionar">
    </div>

    <div ngClass="ObterLista()">
        {{lista}}
    </div>
</form>
