nav {
    background-color: blue;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

nav > a {
    color: white;
    font-size: x-large;
    text-decoration: none;
    margin-right: 2%;
    margin-left: 2%;
}