<div>
    <h3>Lista de contatos cadastrados</h3>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Aniversário</th>
                <th>Tipo</th>
                <th>Favorito</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of agenda.obterTodos()">
                <td>{{c.obternome()}}</td>
                <td>{{c.obtertelefone()}}</td>
                <td>{{c.obteremail()}}</td>
                <td>{{c.obteraniversario()}}</td>
                <td>{{c.obtertipo()}}</td>
                <td>{{c.obterfav()}}</td>
            </tr>
        </tbody>
    </table>
</div>
